@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hahmlet:wght@100..900&display=swap');

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    font-weight: bold;
    overflow: hidden;
}

.main-body > * {
    font-size: 150px;
    color: #505050;
    line-height: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

.main-body-desgin{
    transform: translateX(-300px);
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
}

.main-body-desgin:hover {
    color: #657EBF;
    transition: 0.4s;
}

.main-body-project{
    transform: translate(150px,9px);
    font-size: 140px;
}

.main-body-project:hover{
    color: #65BF89;
    transition: 0.4s;
}

.main-body-report{
    transform: translate(-150px, 10px);
    font-family: "Hahmlet", serif;
    font-size: 145px;
}

.main-body-report:hover{
    color: #BFA665;
    transition: 0.4s;
}

.main-body-cursor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 120px 80px 80px 80px;
}

@keyframes updown{
    0%{
        transform: translateY(0);
    }

    60%{
        transform: translateY(4px);
    }

    100%{
        transform: translateY(0);
    }
}
.mouse {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
    animation-name: updown;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
