* {
    font-size: 13px;
    font-weight: bold;
}

@keyframes logo-intro{
    0%{
        transform: translateY(0);
    }
    35%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes xHover {
    0% {
        width: 0;
    }

    100% {
        width: 243.672px;
    }
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px;
    margin: 30px 70px 0 70px;
}

.main-header > * {
    display: flex;
    align-items: center;
}

.main-header > *:nth-child(1){
    width: 60px;
}

.main-header > *:nth-child(2){
    justify-content: center;
}

.main-header > *:nth-child(3){
    justify-content: end;
}

.main-header-left-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.274);
    padding: 0 50px;
    animation-name: xHover;
    animation-duration: 1s;
    height: 30px;
}

.main-header-left-hover > * {
    background-color: rgba(255, 255, 255, 0.007);
    animation-name: xHover;
    animation-duration: 0.3s;
}

.main-header-logo:hover > .logo-intro {
    animation-name: logo-intro;
    animation-duration: 1s;
}