.main-body-design,
.main-body-project,
.main-body-report {
    font-size: 128px;
}

.main-body-project{
    transform: translateX(1600px);
}

.main-body-report{
    display: flex;
    transform: translateY(300px);
    justify-content: center;
}

#main-body{
    margin-top: 150px;
}