* {
    font-size: 12px;
    font-weight: bold;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px;
    margin: 40px 160px 0 160px;
    z-index: 1;
}

.main-header > * {
    display: flex;
    align-items: center;
    color: rgba(190, 190, 190, 0.9);
}

.main-header > *:nth-child(1){
    width: 60px;
}

.main-header > *:nth-child(2){
    justify-content: center;
}

.main-header > *:nth-child(3){
    justify-content: end;
}

.stack-list, .direct-list{
    position: absolute;
    display: flex;
    gap: 20px;
    background-color: rgba(107, 107, 107, 1);
    padding: 10px 20px;
    border-radius: 20px;
}

.stack-list > *, .direct-list > * {
    background-color: rgba(107, 107, 107, 1);
}