.main-body-design,
.main-body-project,
.main-body-report {
    font-size: 128px;
}

.main-body-design{
    transform: translateX(-10rem);
}

.main-body-project{
    transform: translateX(90rem);
}

.main-body-report{
    display: flex;
    transform: translateY(12rem);
    justify-content: center;
}

#main-body{
    margin-top: 150px;
    z-index: 1;
}