li:first-child {
    font-weight: bold;
}

li {
    margin: 0.4rem 1rem;
    text-align: center;
}

.main-header-menu{
    display: flex;
}

.main-header-menu > * > li:first-child {
    margin: 0;

}

.stack-hover, .direct-hover{
    display: flex;
}

.menu-stack-title, .menu-direct-title {
    background-color: #1D1D1F;
    color: white;
    width: 200px;
    height: 30px;
}